.container {
    border-radius: 8px;
    background-color : #22262c ;
    border: solid 2px rgba(255, 255, 255, 0.2);
    padding: 1px;
    height: 400px;
    margin: 10px;
    width : 350px;
    box-shadow: 2px 2px 4px rgba(34, 38, 44, 0.5);
    margin-right: 0px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;  
}

.input {
    background: #1c1c1f;
    color: #FFF;
    width: 69%;
    border: solid 1px rgba(255, 255, 255, 0.2);
    height: 40px;
    font-size: 16px;
}

.send {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    color: #fff;
    border: none;
    margin-left: 15px;
    height: 39px;
    width: 25%;
}




